_obj
_test
.cover
.netrwhist
*~
.vscode/
.idea/
*.ipr
*.iml
*.iws
*.log
logs/
.env
.envrc
.direnv/
tmp/
temp/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.vagrant/k
*.box

# Personal stuff
/.my.env

# Terrafrom related
.terraform/
/.terraform.tfstate.lock.info
/terraform.tfstate
/terraform.tfstate.backup
