[Unit]
Description=Nomad server
Wants=network-online.target
After=network-online.target


[Service]
# TODO
Environment="VAULT_TOKEN=replace_vault_token"

ExecStartPre=/usr/bin/mkdir -p /var/lib/nomad/
ExecStart=/usr/local/bin/nomad agent -config /root/server.hcl

# Omit OOM killer if possible.
OOMScoreAdjust=-999

Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target
